<div class="helpers-container">
  <!-- Sidebar -->
  <div class="profiles">
    <div
      *ngFor="let helper of helpers"
      class="profile-card"
      [class.active]="selectedHelper?.id === helper.id"
      (click)="selectHelper(helper)"
    >
      <img [src]="helper.imageUrl" alt="{{ helper.name }}" class="profile-img" />
      <div class="profile-details">
        <h3>{{ helper.name }}</h3>
        <p>{{ helper.role }}</p>
      </div>
      <div class="households">{{ 0 }} households</div>
    </div>
  </div>
  <div class="selectedContainer">
    <div class="selectedHelper" *ngIf="selectedHelper">
      <app-selected-helper
        *ngIf="selectedHelper"
        [selectedHelper]="selectedHelper"
      ></app-selected-helper>
    </div>
  </div>
</div>
