.doc-upload{
    width: 120px;
  height: 120px;
  border: 2px dotted #3f51b5;
  background-color: #e8eaf6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;

  button {
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
    color: #3f51b5;
    cursor: pointer;
  }
}