/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css'; // or another theme


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// styles.scss (global)
.mat-mdc-form-field-infix {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  min-height: 40px !important;
}

.mat-mdc-select-trigger {
  height: 35px !important;
  display: flex !important;
  align-items: center !important;
}

.mat-mdc-select-panel .mat-mdc-option {
  height: 35px !important;
  font-size: 14px !important;
}

.mdc-list {
  padding: 0 !important;
}